#faces {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

#faces li {
    display: inline-block;
    margin: 5px;
}

/*#faces li img {
    width: 64px;
    height: 64px;
}*/

#faces li img {
    width: 512px;
    height: 512px;
}